include /etc/keepalived/.global_defs
bfd_instance LAN_CHK {
    neighbor_ip {{ GW_CSW_IP }}
    min_rx 1000
    min_tx 1000
    idle_tx 1000
    multiplier 3
}
vrrp_sync_group GW {
    group {
        LAN
        SYNC
    }
    track_bfd {
        LAN_CHK weight -20
    }
    track_interface {
        {{ GW_LAN_Iface }} weight -20
        {{ GW_ISP1_Iface }} weight -10
        {{ GW_ISP2_Iface }} weight -10
    }
    notify "/etc/keepalived/notify.sh"
}
vrrp_instance LAN {
    version 3
    state BACKUP
    interface {{ GW_LAN_Iface }}
    dont_track_primary
    virtual_router_id 50
    virtual_ipaddress {
        {{ LAN_iface_VIP }}/29 dev {{ GW_LAN_Iface }} no_track
        {{ GW_ISP1_VIP }} dev {{ GW_ISP1_Iface }} no_track
        {{ GW_ISP2_VIP }} dev {{ GW_ISP2_Iface }} no_track
    }
    virtual_ipaddress_excluded {
        {{ LAN_iface_VIP6 }}/125 dev {{ GW_LAN_Iface }} no_track
    }
    virtual_routes {
        default via {{ GW_ISP1_Gateway }} dev {{ GW_ISP1_Iface }} table ISP1 no_track
        default via {{ GW_ISP1_Gateway }} metric 10 no_track
        default via {{ GW_ISP2_Gateway }} dev {{ GW_ISP2_Iface }} table ISP2 no_track
        default via {{ GW_ISP2_Gateway }} metric 20 no_track
    }
    virtual_rules {
        from {{ GW_ISP1_Net }} table ISP1 no_track
        from {{ GW_ISP2_Net }} table ISP2 no_track
    }
    include /etc/keepalived/.is_preempt
}
vrrp_instance SYNC {
    state BACKUP
    interface {{ HA_Iface }}
    dont_track_primary
    virtual_router_id 51
    include /etc/keepalived/.is_preempt
}
