#!/usr/sbin/nft -f
   
flush ruleset

table inet filter {
    chain input {
        type filter hook input priority 0; policy accept;
    }

    chain forward {
        type filter hook forward priority 0; policy accept;

        # TCP MSS Clamping: 针对 WireGuard 等接口自动调整 MSS
        oifname "wg*" tcp flags syn tcp option maxseg size set rt mtu
    }

    chain output {
        type filter hook output priority 0; policy accept;
    }
}

table ip nat {
    chain prerouting {
        type nat hook prerouting priority -100;
    }

    chain postrouting {
        type nat hook postrouting priority 100;

        # WAN 口动态 SNAT (Masquerade)
        oifname { {% for i in wan_ifaces %}"{{ i }}"{% if not loop.last %}, {% endif %}{% endfor %} } masquerade
    }
}
