[Interface]
Address = {{ tunnel_self_IP }}
ListenPort = 51820
PrivateKey = {{ lookup('ansible.builtin.file', './keys/' + group_names[0] + '/private.key') }}

# 自动遍历所有的 spoke 组
{% for sub_group in spoke_groups %}
# Peer for {{ sub_group }}
[Peer]
PublicKey = {{ lookup('ansible.builtin.file', './keys/' + sub_group + '/public.key') }}
# 假设每组第一个成员的变量代表全组的隧道 IP
AllowedIPs = 0.0.0.0/0
{% endfor %}
